body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.content {
    margin-bottom: 20px;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#projectInfo {
    text-align: left;
}
#messageModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}
#messageInput {
    width: calc(100% - 40px); /* Учитываем отступы */
    margin-bottom: 10px;
}
#sendBtn, #cancelBtn {
    margin-right: 10px;
}